{% extends 'base.html.twig' %}

{% block title %}
    Log in!
{% endblock %}

{% block body %}
    <p>LOGIN</p>
    <form action="{{ path('app_login') }}" method="post">
        <label for="inputUser">Felhasználó</label>
        <input type="text" name="username" id="inputUser">
        <label for="jelszo">Jelszó</label>
        <input type="password" name="password" id="jelszo">
        <button type="submit">Sign In</button>
    </form>





{% endblock %}