{% extends 'index.html.twig' %}

{% block content %}
    <div class="container-fluid">
        <h3 class="text-dark mb-4">Új eszköz hozzáadása<br></h3>
        <div class="card shadow mb-3" style="background: rgba(255,255,255,0.5);">
            <form action="{{ path('addPhone') }}" method="post">
                <div class="card-body" style="background: rgba(255,255,255,0.5);">
                    <div class="row">
                        <div class="col col-sm-6 col-12">
                            <div class="mb-3">
                                <label class="form-label" for="brandName"><strong>Márka</strong></label>
                                <input class="form-control" type="text" id="brandName" name="brandName">
                            </div>
                        </div>
                        <div class="col col-sm-6 col-12">
                            <div class="mb-3">
                                <label class="form-label" for="modelName"><strong>Model</strong><br></label>
                                <input class="form-control" type="text" id="modelName" name="modelName">
                            </div>
                        </div>
                        <div class="col col-sm-6 col-12">
                            <div class="mb-3">
                                <label class="form-label" for="colorName"><strong>Szín</strong><br></label>
                                <input class="form-control" type="text" id="colorName" name="colorName">
                            </div>
                        </div>
                        <div class="col col-sm-6 col-12">
                            <div class="mb-3">
                                <label class="form-label" for="capacity"><strong>Kapacitás</strong><br></label>
                                <input class="form-control" type="number" id="capacity" name="capacity">
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary modalSaveButton" type="submit">Mentés</button>
                </div>
            </form>
        </div>
        <div class="alert alert-{{ resultColor }}" role="alert">
            <span class="fw-bold">{{ resultMessage }}</span>
        </div>
    </div>

{% endblock %}