{% extends 'base.html.twig' %}

{% block body %}
    <form action="{{ path('updatePhone') }}" method="post">
        <select name="brand" id="brand" onchange="brandChanged()">
            <option value="">Válassz</option>
        </select>
        <select name="model" id="model" onchange="modelChanged()">
            <option value="">Válassz</option>
        </select>
        <select name="color" id="color" onchange="colorChanged()">
            <option value="">Válassz</option>
        </select>
    </form>

    <script>
        $(document).ready(function (){
           $("#model").hide();
           $("#color").hide();
           $.ajax({
               url: "{{ path('allBrand') }}",
               success: function (ered){
                   console.log(ered);
                   $.each(ered, function (key,value){
                       var brandOption = $('<option>',{ value: value.id, text: value.brandName});
                       $("#brand").append(brandOption);
                   });
               }
           });
        });
        function brandChanged(){
            $("#model").show();
            $.ajax({
               url:"{{ path('allModelByBrand') }}",
               method: "POST",
               data:{
                   "brand_ID":document.getElementById("brand").value
                },
               success: function (eredmeny){
                   console.log(eredmeny);
                   $.each(eredmeny, function (key,value){
                       var modelOption = $('<option>', {value:value.model_ID, text:value.model_ID.modelName});
                       $('#model').append(modelOption);
                   });
               }
            });
        }
        function modelChanged(){
            $("#color").show();
            $.ajax({
               url: "{{ path('allColorByModel') }}",
               data:{
                   "modelID": document.getElementById("model").value
               },
                success: function (eredmeny){
                   $.each(eredmeny, function (key,value){
                      var colorOption = $('<option>', {value:value.id, text:value.phoneColor});
                      $('#color').append(colorOption);
                   });
                }
            });
        }
    </script>

{% endblock %}
