{% extends 'base.html.twig' %}

{% block body %}
    <form action="{{ path('addClient') }}" method="post">
        <label for="client_name">client_name</label>
        <input type="text" name="client_name" id="client_name"><br>
        
        <label for="vatNumber">vatNumber</label>
        <input type="number" name="vatNumber" id="vatNumber"><br>

        <label for="country">country</label>
        <select name="country" id="country">
            <option value="">Válassz</option>
        </select><br>

        <label for="postalCode">postalCode</label>
        <input type="number" name="postalCode" id="postalCode" onchange="loadData()"><br> <!-- Ha beírja az irányítót akkor betölti automatikusan a települes nevet -->

        <label for="region_name">region</label>
        <input type="text" name="region_name" id="region_name"><br>

        <label for="settlement">settlement</label>
        <input type="text" name="settlement" id="settlement"><br>

        <label for="address">address</label>
        <input type="text" name="address" id="address"><br>

        <input type="submit" value="Submit">

        {{ result }}

    </form>
    <script src="../"></script>

{% endblock %}

