{% extends 'base.html.twig' %}

{% block title %}
    Log in!
{% endblock %}

{% block body %}
    <label for="inputUser">Felhasználó</label>
    <input type="text" name="felhasznalo" id="inputUser">
    <label for="password">Jelszó</label>
    <input type="password" name="password" id="password">
    <button type="submit">Sign In</button>


{% endblock %}