{% extends 'main.html.twig' %}

{% block content %}

    <form action="{{ path('addStock') }}" method="post">
        <label for="warehouse">Kérem adja meg a raktárt ahová rendelni szeretni az adott készüléket!</label>
        <select name="warehouse" id="warehouse">
            <option value="">Válassz</option>
        </select><br>
        <label for="brandName">Kérem adja meg a telefon márkáját!</label>
        <input type="text" name="brandName" id="brandName"><br>

        <label for="modelName">Kérem adja meg a telefon modeljét!</label>
        <input type="text" name="modelName" id="modelName"><br>

        <label for="colorName">Kérem adja meg a telefon színét!</label>
        <input type="text" name="colorName" id="colorName"><br>

        <label for="capacity">Kérem adja meg a telefon tárhely kapacitását!</label>
        <input type="number" name="capacity" id="capacity"><br>

        <label for="amount">Mennyi szeretne rendelni? </label>
        <input type="number" name="amount" id="amount">

        <label for="purchase">Beszerzési ár</label>
        <input type="number" name="purchase" id="purchase">

        <input type="submit" value="Submit">
    </form>

    <script>
        $(document).ready(function (){
           $.ajax({
              url: "{{ path('allWarehouse') }}",
               success: function (eredmeny){
                  $.each(eredmeny, function (key,value){
                      var warehouseOption = $('<option>', {value:value.id, text:value.whName});
                      $('#warehouse').append(warehouseOption);
                  });
               }
           });
        });
    </script>
{% endblock %}
