{% extends 'main.html.twig' %}

{# @var stock App\Entity\Stock #}

{% block content %}
    <form action="" method="post">
        <label for="whName">Raktár</label>
        <input type="text" name="whName" id="whName" value="{{ stock.warehouseID.whName }}" disabled>
        <label for="brandName">Kérem adja meg a telefon márkáját!</label>
        <input type="text" name="brandName"  id="brandName" value="{{ stock.phoneID.brandID.brandName }}" disabled><br>

        <label for="modelName">Kérem adja meg a telefon modeljét!</label>
        <input type="text" name="modelName" id="modelName"><br>

        <label for="colorName">Kérem adja meg a telefon színét!</label>
        <input type="text" name="colorName" id="colorName"><br>

        <label for="capacity">Kérem adja meg a telefon tárhely kapacitását!</label>
        <input type="number" name="capacity" id="capacity"><br>

        <label for="amount">Mennyi szeretne rendelni? </label>
        <input type="number" name="amount" id="amount">

        <label for="purchase">Beszerzési ár</label>
        <input type="number" name="purchase" id="purchase">

        <select name="status" id="status"></select>
        <input type="submit" value="Submit">
    </form>
    <script>
        $(document).ready(function (){
            $.ajax({
                url: "{{ path('allStatus') }}",
                success: function (eredmeny){
                    console.log(eredmeny);
                    $.each(eredmeny, function (key,value){
                        var statusOption = $('<option>',{ value: value.id, text: value.status});
                        $("#status").append(statusOption);
                    });
                }
            });
        });
    </script>
{% endblock %}