{% extends 'base.html.twig' %}

{# @var users \App\Entity\User[] #}
{% block title %}

{% endblock %}
{% block body %}
    <h1>Összes raktáros adatai</h1>
    <table border="1">
        <th>Felhasználónév</th>
        <th>Teljes név</th>
        <th>Email</th>
        <th>Telefonszám</th>
        <th>Raktár</th>
        {% for user in users %}
        <tr>
            <td>{{ user.username }}</td>
            <td>{{ user.fullName }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.phoneNumber }}</td>
        </tr>
        {% endfor %}

    </table>

{% endblock %}
