{% extends 'base.html.twig' %}

{% block title %}
    Log in!
{% endblock %}

{% block body %}
    <div class="">
        <div class="container card my-4" style="width: 25rem;">
            <div class="container-fluid card-body">
                <h5 class="card-title">Bejelentkezés</h5>

                <form class="card-text" action="{{ path('app_login') }}" method="post">
                    <label  class="form-label" for="inputUser">Felhasználó</label>
                    <input class="form-control" type="text" name="username" id="inputUser" required>
                    <label class="mt-3 form-label" for="password">Jelszó</label>
                    <input class="form-control" type="password" name="password" id="password" required>
                    <button  class="mt-2 btn btn-primary" type="submit">Sign In</button>
                </form>
            </div>
        </div>
    </div>








{% endblock %}