{% extends 'base.html.twig' %}

{% block title %}
    Log in!
{% endblock %}

{% block body %}
    <h1>LOGIN</h1>
    <form action="{{ path('app_login') }}" method="post">
        <label for="inputUser">Felhasználó</label>
        <input type="text" name="username" id="inputUser">
        <label for="password">Jelszó</label>
        <input type="password" name="password" id="password">
        <button type="submit">Sign In</button>
    </form>
    <h1>{{ username }}</h1>





{% endblock %}