{% extends 'base.html.twig' %}

{% block body %}
    <h1>Egy felhasználó/raktáros adatai</h1>
    <form action="{{ path('removeUser') }}" method="post">
        <select name="users" id="users" onchange="loadUser()">
            <option value="">Válassz</option>
        </select><br>
        <label for="fullName">telnev</label>
        <input type="text" name="fullName" id="fullName"><br>
        <label for="email">email</label>
        <input type="email" name="email" id="email"><br>
        <label for="phoneNumber">telszam</label>
        <input type="number" name="phoneNumber" id="phoneNumber">
        <!--<input type="submit" onclick="remove()" value="TÖRLÉS">-->
    </form>

    <script>
        $(document).ready(function (){
            $.ajax({
                url: "{{ path('allUser') }}",
                success: function (eredmeny){
                    console.log(eredmeny);
                    var select = document.getElementById("users");
                    $.each(eredmeny, function (key, value){
                        var option = document.createElement('option');
                        option.value = value.id;
                        option.innerHTML = value.username;
                        select.appendChild(option);
                    });
                }
            });

        });
         function loadUser(){
             $.ajax({
                 url: "{{ path('getOneUser') }}",
                 method: "POST",
                 data:{
                     "username": document.getElementById("users").value
                 },
                 success: function (eredmeny){
                     $("#fullName").val(eredmeny.fullName);
                     $("#email").val(eredmeny.email);
                     $("#phoneNumber").val(eredmeny.phoneNumber);

                 }
             });
         }
    </script>

{% endblock %}