{% extends 'main.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/register.css') }}">
{% endblock %}
{% block title %}

{% endblock %}

{% block content %}
    <section class="register d-flex align-items-center justify-content-center">
        <div class="alert alert-success" id="alert" role="alert">
            <p>{{ content }}</p>
        </div>
        <br>
        <div class="form-container">
            <form action="{{ path('addUser') }}" method="post">
                <h2 class="text-center mb-3"><strong>Új raktáros hozzáadása</strong></h2>
                <div class="mb-3"><input class="form-control" type="text" name="username" placeholder="Felhasználónév"></div>
                <div class="mb-3"><input class="form-control" type="password" name="password" placeholder="Jelszó"></div>
                <div class="mb-3"><input class="form-control" type="password" name="password2" placeholder="Jelszó(újra)"></div>
                <div class="mb-3"><input class="form-control" type="number" name="phoneNumber" placeholder="Telefonszám"></div>
                <div class="mb-3"><input class="form-control" type="text" name="fullName" placeholder="Teljes név"></div>
                <div class="mb-3"><input class="form-control" type="text" name="email" placeholder="Email"></div>
                <div class="mb-3"><input class="form-control" type="text" name="roles" placeholder="Rang"></div>
                <div class="mb-3"></div>
                <div class="mb-3"><button class="btn btn-primary d-block w-100 gomb" type="submit" style="background: rgb(0, 50, 71);">Hozzáadás</button></div>
            </form>
        </div>
    </section>

    <script>
        $(document).ready(function(){
            $('.alert').hide();
            $('button').click(function (){
                $('.alert').show();
            })
        })
    </script>




{% endblock %}