{% extends 'main.html.twig' %}


{% block title %}

{% endblock %}

{% block content %}
    <h1>Felhasználó/raktáros hozzáadása</h1>
    <p>{{ content }}</p>
    <form action="{{ path('register') }}" method="post">
        <label for="inputUser">Felhasználó</label>
        <input type="text" name="username" id="inputUser">
        <label for="password">Jelszó</label>
        <input type="password" name="password" id="password">
        <label for="password">Jelszó</label>
        <input type="password" name="password2" id="password2">
        <br>
        <label for="phoneNumber">Telefonszám</label>
        <input type="number" name="phoneNumber" id="phoneNumber">
        <br>
        <label for="telNev">Teljes</label>
        <input type="text" name="fullName" id="telNev">
        <label for="email">Email</label>
        <input type="text" name="emailad" id="email"> <!--nem email type teszt miatt -->
        <label for="role"></label>
        <input type="text" name="roles" id="role">
        <button type="submit">Sign In</button>
    </form>





{% endblock %}