{% extends 'base.html.twig' %}


{% block body %}
    <h1>Felhasználó/raktáros frissítése</h1>
    <form action="{{ path('update_action') }}" method="post" id="loginForm">
        <select name="users" id="users" onchange="loadUser()">
            <option value="">Válassz</option>
        </select><br>
        <label for="username">felh</label>
        <input type="text" name="username" id="username"><br>
        <label for="fullName">telnev</label>
        <input type="text" name="fullName" id="fullName"><br>
        <label for="email">email</label>
        <input type="text" name="email" id="email"><br>
        <label for="phoneNumber">phoneNumber</label>
        <input type="number" name="phoneNumber" id="phoneNumber"><br>
        <input type="submit" value="Frissítés">
    </form>

<script>
    var loginF = $('#loginForm');
    $(document).ready(function(){
        $.ajax({
            url:"{{ path('allUser') }}",
            success: function(eredmeny){
                var select = document.getElementById("users");
                console.log(eredmeny);
                $.each(eredmeny, function(key, value){
                    var opt = document.createElement('option');
                    opt.value = value.id;
                    opt.innerHTML = value.username;
                    select.appendChild(opt);
                });
            }
        });
    });

    function loadUser(){
        $.ajax({
            url:"{{ path('oneUserDetails') }}",
            method: "POST",
            data: {
                "username": document.getElementById("users").value
            },
            success: function(eredmeny){
                $("#username").val(eredmeny.username);
                $("#fullName").val(eredmeny.fullName);
                $("#email").val(eredmeny.email);
                $("#phoneNumber").val(eredmeny.phoneNumber);

                //alert(eredmeny.fullName);
            }
        });
    }
</script>
{% endblock %}