{% extends 'main.html.twig' %}

{% block content %}
    <form action="{{ path('passChange') }}" method="post">
        <label for="old">Jelenlegi jelszó</label>
        <input type="password" name="old" id="old"><br>
        <label for="new">új jelszó</label>
        <input type="password" name="new" id="new"><br>
        <input type="submit" value="Mentés">
    </form>

{% endblock %}